In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/semipro2/음식분류 AI 데이터 영양DB.xlsx")

In [3]:
df=df[['음 식 명', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)', '단백질(g)',
       '칼슘(mg)', '나트륨(mg)', '마그네슘(mg)', 
       '콜레스테롤(mg)']]

In [4]:
df = df.replace("-", 0)

In [5]:
food_class = ['Rolled_egg', 'Kimchi', 'Rice', 'Bulgogi', 'Seaweed soup', 'Brown_rice', 'Mul_naengmyeon', 'Bibim_naengmyeon', 'Sujebi', 'Beef_radish_soup', 'Siraegi_Doenjang_soup','Doenjang_stew', 'Tuna_kimchi_stew', 'Jjimdak', 'Roasted_tofu', 'Pajeon', 'Stir_fried_anchovy', 'Simmered_mackerel', 'Acorn_muk', 'eggplant', 'Spinach_greens']

In [ ]:
f = open("test.txt", "r")

lst = []
while True:
    line = f.readline().strip()
    if not line: break
    lst.append(line)
label = []
for i in range(len(lst)):
  if int(lst[i][0]) not in label:
    label.append(int(lst[i][0]))
food = []
for lb in label:
  food.append(food_class[lb])
food

['seaweed_soup', 'dish', 'kimchi', 'rice']

In [ ]:
# import json

# with open('/content/test.json', 'r') as f:

#     json_data = json.load(f)
# food = []
# for objects in json_data[0]['objects']:
#     if objects['name'] not in food:
#       food.append(objects['name'])
# food

['쌀밥', '기타잡곡밥']

In [ ]:
food_df = pd.DataFrame()
for i in range(len(df.index)):
  for j in range(len(food)):
    if food[j] == df.iloc[i, 0]:
      food_df = pd.concat([food_df, pd.DataFrame(df.iloc[i, :].values[1:], df.iloc[i,:].index[1:],columns=[df.iloc[i,:][0]])], axis=1)
food_df = food_df.astype('float')
food_df['총합'] = food_df.sum(axis=1)
food_df

               쌀밥     기타잡곡밥        총합
중량(g)      210.00  200.0000  410.0000
에너지(kcal)  334.80  302.3620  637.1620
탄수화물(g)     73.71   65.5211  139.2311
당류(g)        0.00    0.0000    0.0000
지방(g)        0.45    0.7462    1.1962
단백질(g)       5.76    6.7092   12.4692
칼슘(mg)       3.60   12.0600   15.6600
나트륨(mg)     59.40    3.3920   62.7920
마그네슘(mg)     0.00    6.9000    6.9000
콜레스테롤(mg)    0.00    0.0000    0.0000

=================================================================================================================================================================================================

In [ ]:
food = []
search = ''
food_df = pd.DataFrame()
while (search != 'q' and search != 'Q'):
  search = input()
  if search != 'q':
    food.append(search)
for i in range(len(df.index)):
  for j in range(len(food)):
    if food[j] == df.iloc[i, 0]:
      food_df = pd.concat([food_df, pd.DataFrame(df.iloc[i, :].values[1:], df.iloc[i,:].index[1:],columns=[df.iloc[i,:][0]])], axis=1)
food_df

쌀밥
기타잡곡밥
q

                쌀밥    기타잡곡밥
중량(g)        210.0    200.0
에너지(kcal)    334.8  302.362
탄수화물(g)      73.71  65.5211
당류(g)          0.0      0.0
지방(g)         0.45   0.7462
단백질(g)        5.76   6.7092
칼슘(mg)         3.6    12.06
나트륨(mg)       59.4    3.392
마그네슘(mg)       0.0      6.9
콜레스테롤(mg)      0.0      0.0
파일번호       1011001  1012001