# 영양소 계산 모델

1.표준체중 구하기

 
표준체중이란 키에 따라 다르며 건강상태를 유지하기 위한 최적의 체중을 의미하며 구하는 방법은 키(m : 미터)의 제곱을 남자는 22, 여자는 21을 곱한 수치입니다. 일반적으로 표준체중에 따른 하루 에너지 섭취량을 산정합니다.

In [10]:
def standard_weight(gender,height):
    if gender=='남':
        std_weight=((height/100) **2) * 22 

    if gender=='여':
        std_weight=((height/100) **2) * 21
    
    return std_weight

In [11]:
standard_weight('남',170)

63.57999999999999

In [12]:
df = pd.read_csv("/content/drive/MyDrive/이태원타노쓰/데이터/칼로리 데이터/영양소별 기준2.csv", encoding = 'cp949')

In [14]:
df=df.fillna(0)
df

,성별,연령,에너지필요추정량(kcal/일),탄수화물권장섭취량,단백질(g/일)평균필요량,단백질(g/일)권장섭취량,칼슘_권장_섭취량,칼슘_상한_섭취량,나트륨_권장_섭취량,나트륨_상한_섭취량,마그네슘_평균_필요량,마그네슘_권장_섭취량,콜레스테롤,지방(에너지적정비율),당류(에너지섭취량비율_
0,0.0,0-5(개월),500,0.0,0,0,250,"1,000",110,0,0.0,25,0.0,22.50%,15%
1,0.0,6-11,600,0.0,12,15,300,"1,500",370,0,0.0,55,0.0,22.50%,15%
2,0.0,1-2(세),900,130.0,15,20,500,"2,500",810,"1,200",60.0,70,0.0,22.50%,15%
3,0.0,3-5,"1,400",130.0,20,25,600,"2,500","1,000","1,600",90.0,110,0.0,22.50%,15%
4,0.0,6-8(세),"1,700",130.0,30,35,700,"2,500","1,200","1,900",130.0,150,0.0,22.50%,15%
5,0.0,09월 11일,"2,000",130.0,40,50,800,"3,000","1,500","2,300",190.0,220,0.0,22.50%,15%
6,0.0,12월 14일,"2,500",130.0,50,60,"1,000","3,000","1,500","2,300",260.0,320,0.0,22.50%,15%
7,0.0,15-18,"2,700",130.0,55,65,900,"3,000","1,500","2,300",340.0,410,0.0,22.50%,15%
8,0.0,19-29,"2,600",130.0,50,65,800,"2,500","1,500","2,300",300.0,360,300.0,22.50%,15%
9,0.0,30-49,"2,500",130.0,50,65,800,"2,500","1,500","2,300",310.0,370,300.0,22.50%,15%
10,0.0,50-64,"2,200",130.0,50,60,750,"2,000","1,500","2,300",310.0,370,300.0,22.50%,15%
11,0.0,65-74,"2,000",130.0,50,60,700,"2,000","1,300","2,100",310.0,370,300.0,22.50%,15%
12,0.0,75 이상,"1,900",130.0,50,60,700,"2,000","1,100","1,700",310.0,370,300.0,22.50%,15%
13,0.0,6-8(세),"1,500",130.0,30,35,700,"2,500","1,200","1,900",130.0,150,0.0,22.50%,15%
14,0.0,09월 11일,"1,800",130.0,40,45,800,"3,000","1,500","2,300",180.0,220,0.0,22.50%,15%
15,0.0,12월 14일,"2,000",130.0,45,55,900,"3,000","1,500","2,300",240.0,290,0.0,22.50%,15%
16,0.0,15-18,"2,000",130.0,45,55,800,"3,000","1,500","2,300",290.0,340,0.0,22.50%,15%
17,0.0,19-29,"2,000",130.0,45,55,700,"2,500","1,500","2,300",230.0,280,300.0,22.50%,15%
18,0.0,30-49,"1,900",130.0,40,50,700,"2,500","1,500","2,300",240.0,280,300.0,22.50%,15%
19,0.0,50-64,"1,700",130.0,40,50,800,"2,000","1,500","2,300",240.0,280,300.0,22.50%,15%
20,0.0,65-74,"1,600",130.0,40,50,800,"2,000","1,300","2,100",240.0,280,300.0,22.50%,15%
21,0.0,75 이상,"1,500",130.0,40,50,800,"2,000","1,100","1,700",240.0,280,300.0,22.50%,15%
22,0.0,임신부,0\n340\n450,45.0,12\n25,15\n30,0,"2,500","1,500","2,300",30.0,40,300.0,22.50%,15%
23,0.0,수유부,340,80.0,20,25,0,"2,500","1,500","2,300",0.0,0,300.0,22.50%,15%

In [ ]:
df=df[['성별', '연령', '에너지필요추정량(kcal/일)', '탄수화물평균필요량', '탄수화물권장섭취량','단백질(g/일)평균필요량', '단백질(g/일)권장섭취량', '단백질(g/일)충분섭취량','나트륨ㄱ', '나트륨ㄴ', '나트륨ㄷ',
       '나트륨ㄹ', '마그네슘ㄱ', '마그네슘ㄴ', '마그네슘ㄷ', '마그네슘ㄱ.1', '콜레스테롤', '지방(에너지적정비율)',
       '당류(에너지섭취량비율_']]
df

In [ ]:
df.rename(columns={'나트륨ㄴ':'나트륨(g/일)권장섭취량'}, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 23
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   성별                22 non-null     object
 1   연령                24 non-null     object
 2   에너지필요추정량(kcal/일)  24 non-null     object
 3   탄수화물평균필요량         24 non-null     int64
 4   탄수화물권장섭취량         22 non-null     float64
 5   단백질(g/일)평균필요량     23 non-null     object
 6   단백질(g/일)권장섭취량     23 non-null     object
 7   단백질(g/일)충분섭취량     1 non-null      float64
 8   나트륨ㄱ              0 non-null      float64
 9   나트륨(g/일)권장섭취량     24 non-null     int64
 10  나트륨ㄷ              24 non-null     object
 11  나트륨ㄹ              22 non-null     object
 12  마그네슘ㄱ             22 non-null     float64
 13  마그네슘ㄴ             22 non-null     float64
 14  마그네슘ㄷ             2 non-null      float64
 15  마그네슘ㄱ.1           22 non-null     float64
 16  콜레스테롤             12 non-null     float64
 17  지방(에너지적정비율)       24 non-null     object
 18  당류(에너지섭취량비율_      24 non-null     object
dtypes: float64(8), int64(2), object(9)
memory usage: 3.8+ KB

In [ ]:
df.isnull().sum()

성별                   2
연령                   0
에너지필요추정량(kcal/일)     0
탄수화물평균필요량            0
탄수화물권장섭취량            2
단백질(g/일)평균필요량        1
단백질(g/일)권장섭취량        1
단백질(g/일)충분섭취량       23
나트륨ㄱ                24
나트륨(g/일)권장섭취량        0
나트륨ㄷ                 0
나트륨ㄹ                 2
마그네슘ㄱ                2
마그네슘ㄴ                2
마그네슘ㄷ               22
마그네슘ㄱ.1              2
콜레스테롤               12
지방(에너지적정비율)          0
당류(에너지섭취량비율_         0
dtype: int64

In [ ]:
df=df[['음 식 명', '중량(g)', '에너지(kcal)', '탄수화물(g)', '당류(g)', '지방(g)', '단백질(g)',
       '칼슘(mg)', '나트륨(mg)', '마그네슘(mg)', 
       '콜레스테롤(mg)']]

In [ ]:
def energy(age, take):
  car = take * 60 * 0.01
  pro = take * 15 * 0.01
  if age > 2:
    fat = take * 25 * 0.01
  else :
    fat = take * 25 * 0.01
  return f"탄수화물: {car/4}, 단백질: {pro/4}, 지방: {fat/9}"
energy(14, 1689)

'탄수화물: 253.35, 단백질: 63.3375, 지방: 46.916666666666664'

In [ ]:
import random
def daily_energy(gender, age, height, active):
    if gender=='남':
        std_weight=((height/100) **2) * 22 

    if gender=='여':
        std_weight=((height/100) **2) * 21
    if active == '가벼운':
      weight_eg = random.randint(25, 30)
    if active == '중등도':
      weight_eg = random.randint(30, 35)
    if active == '강한':
      weight_eg = random.randint(35, 40)
    if active == '아주 강한':
      weight_eg = random.randint(40, 45)
    daily = std_weight * weight_eg
    reduce = random.randrange(200, 500, 100)
    take = int(daily - reduce)
    per = random.randint(55, 65) 
    car = take * per * 0.55
    pro = take * per * 
    return f"하루 섭취 열량: {take}, 활동 에너지 소모량: {500 - reduce}" 
daily_energy('남', 24, 170, '중등도')

'하루 섭취 열량: 1698, 활동 에너지 소모량: 100'

In [ ]:
def carbohydrate(age):  
  protein,fat

In [ ]:
def cole(age):
  if age >= 19:
    col = 300
  return f"콜레스토롤 {col}mg/일 미만"
cole(24)

'콜레스토롤 300mg/일 미만'

# 추천 모델

- 권장 영양량과 현재 식단의 영양소의 차이를 계산.그걸 넘파이 백터로 만듦. 그차이와 가장 유사도가 높은 반찬을 추천!

- 가장 차이가 큰, 즉 너무 부족하거나 너무 과다한 영양소를제일 먼저 판단하게끔 하자. 어레이 별로 합산/뺄셈을 해서 가장 큰 차이 나는 걸 도출할까 아니면 이것도 뭔가 코사인 유사도 등을 써야 하나. 

- 아니면 협업 필터링처럼 비슷한 영양소를 가지면서 기준을 충족시켜주는 음식을 추천해주는 식으로 갈까.

- 더 욕심?부리자면 카테고리를 좀 나누고 싶은데. 밥/국/반찬 등으로. 쌩뚱맞게 반찬에서 영양소 부족한데 국을 추천할 수는 없는 거잖아. 
어차피 지금 DB에서도 카테고리 나누고 있기도 하고 이거 자체는 큰 문제가 아닌데.

머신러닝 돌아갈 때 그러면 뭔가 부족/과다하게 만드는 원인인 음식을 찝어내고 그것과 같은 카테고리 안에서만 돌아가게 해야 하나? 음...일이 너무 커지는데.

- 400개에 이어서 그 엄청 많았던 데이터, 그거도 붙여보자. 

- 뭐 딱 하나만 추천하기보단 여러 카테고리에서 여러 가지 음식을 추천하는 것도 괜찮겠지.

- 중량이 제각각인데 이걸 좀 잘 표준화하는 방법이 없을까.

- 이거 정확도 측정하는 것도 해야겠다.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

https://dsbook.tistory.com/334


https://brunch.co.kr/@mobiinside/863

In [8]:
import pandas as pd
df=pd.read_excel('/content/drive/MyDrive/이태원타노쓰/데이터/칼로리 데이터/음식분류 AI 데이터 영양DB.xlsx')
df.head()

,음 식 명,중량(g),에너지(kcal),탄수화물(g),당류(g),지방(g),단백질(g),칼슘(mg),인(mg),나트륨(mg),칼륨(mg),마그네슘(mg),철(mg),아연(mg),콜레스테롤(mg),트랜스지방(g)
0,쌀밥,210.0,334.800,73.7100,0.0,0.4500,5.7600,3.6,126,59.400,146.7,-,0.36,1.35,0.000,0
1,기타잡곡밥,200.0,302.362,65.5211,0.0,0.7462,6.7092,12.06,117.836,3.392,166.718,6.9,1.7447,1.8264,0.000,0
2,콩밥,200.0,322.900,65.8460,0.0,1.6660,8.4280,24.7,126.9,4.100,258.4,22.5,1.74,1.61,0.000,0
3,보리밥,200.0,316.100,70.5700,0.0,0.1400,5.5500,6.7,68.8,4.500,100.6,0,1.26,1.41,0.000,0
4,돌솥밥,350.0,528.855,101.8500,0.0,8.3470,10.1870,61.455,193.72,618.315,624.32,57.785,3.321,2.582,2.365,0

In [9]:
df_rice=df.copy()
df_rice=df_rice.drop(labels='음 식 명',axis=1)
df_rice=df_rice.drop(labels='인(mg)',axis=1)
df_rice=df_rice.drop(labels='칼륨(mg)',axis=1)
df_rice=df_rice.drop(labels='철(mg)',axis=1)
df_rice=df_rice.drop(labels='아연(mg)',axis=1)
df_rice=df_rice.drop(labels='트랜스지방(g)',axis=1)



df_rice.fillna(value=0,inplace=True)
df_rice.replace('-',0,inplace=True)
df_rice

,중량(g),에너지(kcal),탄수화물(g),당류(g),지방(g),단백질(g),칼슘(mg),나트륨(mg),마그네슘(mg),콜레스테롤(mg)
0,210.0,334.8000,73.71000,0.000000,0.45000,5.76000,3.60000,59.40000,0.000,0.000
1,200.0,302.3620,65.52110,0.000000,0.74620,6.70920,12.06000,3.39200,6.900,0.000
2,200.0,322.9000,65.84600,0.000000,1.66600,8.42800,24.70000,4.10000,22.500,0.000
3,200.0,316.1000,70.57000,0.000000,0.14000,5.55000,6.70000,4.50000,0.000,0.000
4,350.0,528.8550,101.85000,0.000000,8.34700,10.18700,61.45500,618.31500,57.785,2.365
...,...,...,...,...,...,...,...,...,...,...
395,30.0,105.1665,20.81070,6.455700,1.72860,3.54630,1.42740,3.84900,0.000,0.000
396,30.0,113.8494,22.18320,2.151900,1.23870,2.57400,4.44900,16.45980,0.000,0.000
397,30.0,129.0600,24.13650,1.120950,3.50400,0.36090,1.20840,7.05540,0.000,0.000
398,30.0,121.6985,24.70195,10.632825,1.19665,0.91035,2.00165,8.01255,0.000,0.000
399,30.0,150.3000,13.62000,0.000000,9.87000,4.50000,156.00000,24.30000,0.000,0.000

In [28]:
#df 벡터화하기.
def df_vectorize(df):
    df_vect=df.to_numpy()
    for i in range(len(df_vect)):
    	globals()['vector' + str(i)] = df_vect[i].reshape(1,-1)

In [27]:
df_vect.shape

(400, 10)

array([[210.  , 334.8 ,  73.71,   0.  ,   0.45,   5.76,   3.6 ,  59.4 ,
          0.  ,   0.  ]])

In [ ]:
vect1 = vect[0].reshape(1,-1)
vect2 = vect[1].reshape(1,-1)

In [33]:
print(vector0)
print(vector1)

[[210.   334.8   73.71   0.     0.45   5.76   3.6   59.4    0.     0.  ]]
[[200.     302.362   65.5211   0.       0.7462   6.7092  12.06     3.392
    6.9      0.    ]]

In [82]:
import numpy as np
test_vector=np.array([66.  , 30.8 ,  40.1,   0.  ,   0.2,   3.2,   1.4 ,  44.0 ,
         0.  ,   0.  ])
test_vector2 = test_vector.reshape(1,-1)

In [92]:
from sklearn.metrics.pairwise import cosine_similarity

In [95]:
#최고 코사인 유사도 구하기.

def max_cosine_sim(test_vector):
    result={}
    test_vector2 = test_vector.reshape(1,-1)
    for i in range(len(df_vect)):
        similarity_simple_pair = cosine_similarity(test_vector2 , globals()['vector' + str(i)])
        result[i]=float(similarity_simple_pair[0])
    print(max(result,key=result.get),max(result.values()))

In [ ]:
result

In [90]:
print(max(result,key=result.get),max(result.values()))

309 0.893734857034095

In [40]:
a={}
a['k']='aa'
a['v']=12
print(a)

{'k': 'aa', 'v': 12}